<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="DEBUG">

    <properties>
        <property name="logPath">./src/test/outputs/logs</property>
        <property name="basePath">.</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="File" fileName="${logPath}/automation.log" filePattern="${logPath}/automation-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="10MB"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="Debug">
            <!-- <AppenderRef ref="Console"/> -->
             <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>