<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG">
    <parameter name="browser" value="chrome"></parameter>
    <test name="TestName">
        <classes>
            <class name="webTest.LoginMgmt.LoginTest"></class>
            <class name="webTest.dashboard.DashboardTest"/>
            <class name="webTest.admin.userManagement.UserManagementTest"></class>
        </classes>
    </test>
</suite>